/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 juil. 2017, 21:30:34
    Author     : Thonon
*/

.rapport{
    position: relative;
    left: 5%;
    top: inherit;
 
}

.user{
    position: absolute;
    bottom: 10%;
    left:40%;
}

.copyright{
    position:absolute;
    left:3%;
    bottom:10%;
    color:   #3284d0 ;
}

.login{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 40%;
    bottom: 50%;
    height: 20%;
    background-color: #3284d0;
    border-radius: 6px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-color: #88b9e6;
    border-style: solid;
    background-image:linear-gradient(#d4e6f1,  #a9cce3 );
    
   
}

.annexe{
    color: #dc7633;
}

.contenu{
    color:green;
}

.supprimer{
    color:red;
}

.exception{
    background-color: red;
    position: absolute;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 15%;
    border-radius: 6px;
    border-width: 6px;
    border-color: blue;
    border-style:  solid;
}

.return{
    position: absolute;
    bottom: 10%;
    left:50%;
    font-size: 24px;
    color: red;
}

table { 
    border-collapse: collapse; 
    border-spacing: 2px;
    
}

body{
    background-color: #ccd1d1;
}

.list, .listAnnexe, .form, .contenuArea {
  height:35%;
  width:90%;
  overflow:auto;
  background-color:#eaf2f8;
  position:  relative; 
  left:5%;
  border-radius: 6px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  cursor: Pointer;
  border-color : blue;
  border-width: 1px;
  border-style:  groove;
  background-image:linear-gradient(#d4e6f1,  #a9cce3 );
}

.contenuArea{
    height:75%;
    overflow: hidden;
}

.listAnnexe{
    height: 20%;
    top: 15%;
}

.form{
     cursor:  default;  
}

#Title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

#loginInfo {
  display: block;
  float: right;
  clear: right;
  position: static;
  background-color: #0099ff;
  border-radius: 6px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  font-weight: bold;
  background-image:linear-gradient(#d4e6f1,  #a9cce3 );
  border-style:  groove;
 
}



