/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 juil. 2017, 21:30:34
    Author     : Thonon
*/

.apostille_cloture{
    position: fixed;
    left: 25%;
    right: 25%;
    top: 40%;
    bottom: 50%;
    height: 20%;
    background-color: #3284d0;
    border-color : lightblue;
    border-width: 4px;
    border-style:   solid;
    background-image:linear-gradient(azure,  ghostwhite );
    border-radius: 6px;
    visibility: hidden;
    z-index: 10;
}

.menu{
     background-color: black;
     color:white;
     position:fixed;
     transform:scale(1);
     transition:all .5s;
     
}

a:hover .menu{
    background-color: white;
    color:black;
    transform:scale(1.3);
    margin-left: +2%;
    transition:all .5s;
   
}

 .infoBulle{
     position:   fixed;    
     margin-top:  0px;
     margin-left: 0px;
     color:#09c;
     background:#000000cf;
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);
     transform:scale(0) rotate(-12deg);
     transition:all .5s;
     opacity:0;
     z-index: 5;
     
}

span{
 max-width: 45%;
 word-wrap: break-word;   
}

a:hover span, a:focus span{
     transform:scale(1.2) rotate(0); 
     opacity:1;
     z-index: 5;
}


a:hover,a:focus{
     background:rgba(0,0,0,.4);
     box-shadow:0 1px 0 rgba(255,255,255,.4);
     
     
}

.rapport{
    position: relative;
    left: 5%;
    top: inherit;
 
}

.user{
    position: absolute;
    bottom: 10%;
    left:40%;
}

.copyright{
    position:absolute;
    left:3%;
    bottom:10%;
    color:   #3284d0 ;
}

.login{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 40%;
    bottom: 50%;
    height: 20%;
    background-color: #3284d0;
    border-color : lightblue;
    border-width: 4px;
    border-style:   solid;
    background-image:linear-gradient(azure,  ghostwhite );
    border-radius: 6px;

}

.annexe,.contenu,.supprimer,.logout{
    background-color: black;
}

.logout{
    color:green;
}

.annexe{
    color: #dc7633;
}

.contenu{

    color:green;
}

.supprimer{
   
    color:red;
}

.exception{
    background-color: red;
    position: absolute;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 15%;
    border-radius: 6px;
    border-width: 6px;
    border-color: blue;
    border-style:  solid;
}

.return{
    position: absolute;
    bottom: 10%;
    left:50%;
    font-size: 24px;
    
    
     background-color: red;
     color:white;
     position:fixed;
     transform:scale(1);
     transition:all .5s;
    }
    
    

table { 
    border-collapse: collapse; 
    border-spacing: 2px;
    
}

body{
   /* background-color: wheat;*/
    /*background-color: #273746;*/ 
    background-color: #1b4e69;
    z-index: 0;
}

.list, .listAnnexe, .form, .contenuArea {
  height:35%;
  width:90%;
  overflow:auto;
  background-color:#eaf2f8;
  position:  relative; 
  left:5%;
  border-radius: 6px;
  cursor: Pointer;
  border-color : lightblue;
  border-width: 4px;
  border-style:   solid;
 /* background-image:linear-gradient(azure,  ghostwhite );*/
  background-image:linear-gradient( #bcdde0 ,   #97c2c6  );
  z-index:1;
}

.contenuArea{
    height:75%;
    overflow: hidden;
}

.listAnnexe{
    height: 20%;
    top: 15%;
}

.form{
     cursor:  default;  
     z-index: 0;
}

.Title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#loginInfo {
  display: block;
  float: right;
  clear: right;
  position: absolute;
  background-color: #ff0000;
  border-radius: 6px;
  border-color : lightblue;
  border-width: 4px;
  border-style:   solid;
  background-image:linear-gradient(slategray,  ghostwhite );
  
  width: 95%;
  height: 10%;
  top:80%;  
  left:2.5%;
 
}



