/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 juil. 2017, 21:30:34
    Author     : Thonon
*/

.list {
  height:35%;
  width:90%;
  overflow:auto;
  background-color:#eaf2f8;
  position:  relative; 
  left:5%;
  border-radius: 6px;
}

.form{
  height:35%;
  width:90%;
  overflow:auto;
  background-color:#eaf2f8;
  position:  relative; 
  left:5%;
  border-radius: 6px;
}

#Title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

#login {
  display: block;
  float: right;
  clear: right;
  position: static;
  background-color: #9999ff;
  border-radius: 0px;
  font-weight: bold;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: #ccccff;
  border-right-color: #ccccff;
  border-bottom-color: #ccccff;
  border-left-color: #ccccff;
}



