/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 juil. 2017, 21:30:34
    Author     : Thonon
*/

.copyright{
    position:absolute;
    left:3%;
    bottom:10%;
    color:   #3284d0 ;
}

.login{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 40%;
    bottom: 50%;
    background-color: #3284d0;
    border-radius: 6px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-color: #88b9e6;
    border-style: solid;
    background-image:linear-gradient(#d4e6f1,  #a9cce3 );
    
   
}

.annexe{
    color: #dc7633;
}

.contenu{
    color:green;
}

.supprimer{
    color:red;
}

.exception{
    background-color: red;
    position: absolute;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 15%;
    border-radius: 6px;
    border-width: 6px;
    border-color: blue;
    border-style:  solid;
}

.return{
    position: fixed;
    bottom: 10%;
}

table { 
    border-collapse: collapse; 
    border-spacing: 2px;
    
}

body{
    background-color:   #ccd1d1    ;
}

.list, .listAnnexe, .form, .contenuArea {
  height:35%;
  width:90%;
  overflow:auto;
  background-color:#eaf2f8;
  position:  relative; 
  left:5%;
  border-radius: 6px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  cursor: Pointer;
  border-color : blue;
  border-width: 1px;
  border-style:  groove;
  background-image:linear-gradient(#d4e6f1,  #a9cce3 );
}

.contenuArea{
    height:85%;
    overflow: hidden;
}

.listAnnexe{
    height: 20%;
    top: 15%;
}

.form{
     cursor:  default;  
}

#Title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

#login {
  display: block;
  float: right;
  clear: right;
  position: static;
  background-color: #9999ff;
  border-radius: 0px;
  font-weight: bold;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: #ccccff;
  border-right-color: #ccccff;
  border-bottom-color: #ccccff;
  border-left-color: #ccccff;
}



